* {
  background: transparent;
  color: #000;
  font-family: serif;
}
@page {
  margin: 0.8in;
}
nav {
  display: none;
}
h1 {
  font-size: 30pt;
  text-align: center;
  margin: 0;
}
address {
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 0.5em;
}
h2 {
padding: 0.5em 0 ;

}
h3 {
  padding-top: 1px;
}
section {
  font-size: 12pt;
  margin-top: 0;
  line-height: 0.3em
}
span {
  float: right;
}
a {
  display: inline;
  text-decoration: none;
}
li {
  line-height: 1em;
}
#downPage {
  padding-top: 3em;
}
footer {
  display: none;
}
