@charset 'UTF-8';

#wrapper {
  width: 960px;
  margin: 0 auto;
}
header {
  width: 960px;
  margin: 0 auto;
  padding-top: 2em;
  text-align: center;
  text-shadow: 1.5px 1.5px #666666;
}
header {
  font-family: "Zapfino", "seravek", sans-serif;
  font-size: 25pt;
  color: #000;
}
header :hover {
  color: #545454;                        /* dark grey */
}
.nav a {
  font-size: 11pt;
  font-family: "arial", sans-serif;
  color: white;
  text-decoration: none;
}
.nav {
  padding: 0;
  border: 0;
  margin: 0;
  line-height: 0.3125em;                     /* size of tabs */
  display: block;
  position: relative;
  top: -4.38em;
  left: 17.3em;                          /* how do i figure out what exactly the middle is */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;              /* cutting out the shapes of the boxes */
  color: #000;
}
.nav {
  text-align: center;                  /* placeing tabs in correct position */
  display: inline-block;
}
.nav :hover {
  color: #545454;                       /* dark grey */
  text-decoration: none;
}
.nav :hover:after {
  background: #ffffff;
}
.nav :after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;                /* line height */
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  background-color: #000;
}
.nav {
  z-index: 1;                                /* Link is clickable in the location it is visible to user */
  padding: 18px 25px 12px 25px;
  border: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;                        /* marging between tabs */
}
address {
  background-color: #000;
  font-family: sans-serif;
  font-size: 12pt;
  color: #ffffff;
  font-weight: lighter;
  text-align: center;
}
address {
  width: 900px;
  margin: 0px;
  padding: 2em;
  position: relative;
  top: -82px;
  margin-bottom: 20px;
}
address a{
  font-size: 12pt;
  color: white;
  text-decoration: none;
  position: static;
}
address a:hover{
  color: #545454;                    /* dark grey */
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  }
.about {
  background-color: #000;
  font-family: sans-serif;
  font-size: 14pt;
  color: #ffffff;
  font-weight: lighter;
  text-align: center;
  line-height: 1em;
}
.about {
  width: 900px;
  margin: 0px;
  padding: 2em;
  position: relative;
  top: -82px;
  margin-bottom: 20px;
}
h2 {
  font-family: "Zapfino", "seravek", sans-serif;
  font-size: 20pt;
  color: #000;
  width: 0 auto;
  padding: 20px 20px;
  margin: 15px 10px;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px #666666;
}
h2:hover {
    color: grey;
    font-size: 25pt;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
.photo {
  padding-bottom: 0.5em;
}

h3 {
    padding-top: 1em;
  }

section {
    font-family: "veranda", "arial", sans-serif;
    font-size: 11pt;
    color: #000;  /* black */
    line-height: 0.4em;
  }
section {
  width: 900px;
  padding: 2.5em 1.25em;
  margin: 0 auto;
  position: relative;
  border: 0.0625em;
  border: solid;
  border-color: #000;
  top: -5.66em;
}
 span {
  float: right;
}
#education a {
  text-decoration: underline;
  color: #000;
}
#education a:hover {
  color: grey;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
section:last-child {
  margin-bottom: 2em;
}
#experience {
  line-height: 0.4em;
}
#experience {
  padding-top: 2em;
  margin-top: 2em;
}
.list {
  line-height: 1.3em;
}
footer {
  width: 900px;
  margin: auto;
  text-align: center;
}
footer a {
  color: #000;
  text-decoration: overline;
  font-size: 1.25em;
}
footer a:hover {
  color: grey;
  font-size: 23px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.year {
  float: right;
}





/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 0px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: #eee;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

  .single-item {
    position: relative;
    width: 960px;
    height: 550px;

  }

  .single-item img {
    margin: 0 25px;
    width: 960px;
    height:auto;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev:before,
  .slick-next:before
   {
    color: #222;
  }
